<h2>Memcached</h2>

<a class="btn btn-default" href="/memcached/invalidate">Invalidate Cache</a>

<p>Loading this page checks to see if memcached is actually working.</p>
<p>The first time it will take 2 seconds to load, the next time it will render quickly</p>