<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>wazza-is-awesome email</h1>
    <p>
    This proves you can send email from your application. Congrats.
    </p>
    <table>
      <tr><td>Name</td><td><%= @post.name %></td></tr>
      <tr><td>Title</td><td><%= @post.title %></td></tr>
      <tr><td>Content</td><td><%= @post.content %></td></tr>
    </table>
  </body>
</html>