        <p>wazza-is-awesome is a test app that was developed by an enthusiastic ruby developer. His name is wazza.</p>
        <p>The app helps us test some fundamental things about the Ninefold platform.</p>
        <p>Brutus says:</p>
        <%= image_tag "wia.png" %>