<table class="table">
  <% ENV.keys.sort {|x,y| x.upcase <=> y.upcase}.each do |key| -%>
    <tr><td> <b><%= key %>:</b></td><td> <%= ENV[key].scan(/.{1,20}/).join("<wbr>").html_safe %></td></tr>
  <% end -%>
</table>