[Unit]
Description=wazza-is-awesome-web.service instance %i

# requirements
Requires=etcd.service
Requires=docker.service
#Requires=wazza-is-awesome-redis.service
#Requires=wazza-is-awesome-memcached.service
#Requires=wazza-is-awesome-postgres.service

# dependencies
After=etcd.service
After=docker.service
#After=wazza-is-awesome-redis.service
#After=wazza-is-awesome-memcached.service
#After=wazza-is-awesome-postgres.service


[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
Environment=CNAME=wazza-is-awesome-web-%i
ExecStartPre=-/usr/bin/docker kill $CNAME
ExecStartPre=-/usr/bin/docker rm $CNAME
ExecStartPre=-/usr/bin/docker pull ic1z1prereg001.easyhost.local:5000/wazza-is-awesome:latest
ExecStart=/usr/bin/bash -c \
  "source /etc/environment; \
  REDIS_URL=$(/usr/bin/etcdctl get /app/wazza-is-awesome/redis); \
  MEMCACHE_SERVERS=$(/usr/bin/etcdctl get /app/wazza-is-awesome/memcached); \
  DATABASE_URL=$(/usr/bin/etcdctl get /app/wazza-is-awesome/postgres); \
  /usr/bin/docker run --name $CNAME \
  -m 250m \
  -p 8080 -e PORT=8080 \
  -e REDIS_URL=$REDIS_URL -e MEMCACHE_SERVERS=$MEMCACHE_SERVERS -e DATABASE_URL=$DATABASE_URL \
  ic1z1prereg001.easyhost.local:5000/wazza-is-awesome:latest /start web"
ExecStartPost=/usr/bin/bash -c \
  "echo -n 'Waiting for web port '; \
  while ! (/usr/bin/docker port $CNAME 8080 > /dev/null 2>&1); do \
    echo -n '.' ; \
    sleep 1; \
  done"
ExecStartPost=/usr/bin/bash -c \
  "source /etc/environment; \
  PORT=$(/usr/bin/docker port $CNAME 8080 | awk -F':' '{print $2}'); \
  echo -n 'Saving web config: ' ; \
  /usr/bin/etcdctl set /app/wazza-is-awesome/web/%i ${COREOS_PRIVATE_IPV4}:$PORT"
ExecStop=/usr/bin/docker stop $CNAME
ExecStopPost=/usr/bin/etcdctl rm /app/wazza-is-awesome/web/%i
TimeoutSec=120min

[X-Fleet]
X-Conflicts=wazza-is-awesome-web@*.service
